<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div class="container m-auto">
        <div id="content">
            <div class="row">
                <main role="main" class="mt-10">
                    <div
                        class="bg-white rounded text-center w-2/4 shadow-md m-auto border-t-8 border-blue-500 px-1 pt-5 pb-8">
                        <div class="m-auto"><img class="w-32 m-auto" src="static/images/login.png" alt=""></div>

                        <form method="POST" enctype="multipart/form-data" class="w-11/12 mt-5 mx-auto">
                            <!-- <a href="/login">
                                <h2 style="color: black; text-align: center">LOGIN</h2>
                            </a> -->

                            <div class="d-block center">
                                <p class="font-medium text-red-600 text-center"> {{ error_login }}</p>

                                <div class="px-3 mb-6 md:mb-0">
                                    <label
                                        class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2 text-left text-gray-600"
                                        for="user_name">
                                        Username / Email
                                    </label>
                                    <input type="text" id="user_name" name="user_name" placeholder="Enter Username ..."
                                        required
                                        class=" -600 appearance-none block w-full bg-grey-lighter text-grey-darker border  rounded py-3 px-4 mb-3">

                                </div>


                                <div class="px-3 mb-6 md:mb-0">
                                    <label
                                        class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2 text-left text-gray-600"
                                        for="password">
                                        Password
                                    </label>
                                    <input type="password" id="password" name="password"
                                        placeholder="Enter Password ..." required
                                        class="-600 appearance-none block w-full bg-grey-lighter text-grey-darker border  rounded py-3 px-4 mb-3">

                                </div>

                                <div id="show_password"
                                    class="px-3 mb-6 md:mb-0 text-right flex items-center justify-end">
                                    <label class="flex items-center text-gray-600">
                                        <input type="checkbox" onclick="changeTypePassword()"
                                            class="rounded form-checkbox h-4 w-4 text-blue-600 cursor-pointer"><small
                                            class="ml-2 text-gray-700">Show Password</small>
                                    </label>
                                </div>

                                <div class="px-3 ">
                                    <button id="submit_login" name="submit_login" value="Submit"
                                        class="button_predict bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full my-2">
                                        Submit
                                    </button>
                                </div>

                                <a class="hover:text-blue-500 w-full text-center text-blue-500 font-medium"
                                    href="/register">Create account ...</a>
                            </div>
                        </form>
                    </div>
                </main>
            </div>
        </div>
    </div>
</body>

<script>
    function changeTypePassword() {
        var password = document.getElementById("password");
        if (password.type === "password") {
            password.type = "text";
        } else {
            password.type = "password";
        }
    }
</script>

</html>